@font-face {
  font-family: 'Open Sans-fallback';
  size-adjust: 105.5%;
  ascent-override: 105%;
  src: local('Arial');
}

@font-face {
  font-family: 'Roboto Slab-fallback';
  size-adjust: 105%;
  ascent-override: 100%;
  src: local('Georgia');
}
